[project]
	description = Qt Wayland Compositor presentation for Qt World Summit 2017
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nguyen Huu TUYEN (robocon2011)
[access "refs/for/refs/*"]
	read = group user/Nguyen Huu TUYEN (robocon2011)
	push = group user/Nguyen Huu TUYEN (robocon2011)
	label-Code-Review = -2..+2 group user/Nguyen Huu TUYEN (robocon2011)
	label-Verified = -1..+1 group user/Nguyen Huu TUYEN (robocon2011)
	rebase = group user/Nguyen Huu TUYEN (robocon2011)
	removeReviewer = group user/Nguyen Huu TUYEN (robocon2011)
	submit = group user/Nguyen Huu TUYEN (robocon2011)
[access "refs/heads/*"]
	read = group user/Nguyen Huu TUYEN (robocon2011)
	create = group user/Nguyen Huu TUYEN (robocon2011)
	push = +force group user/Nguyen Huu TUYEN (robocon2011)
	pushMerge = group user/Nguyen Huu TUYEN (robocon2011)
[access "refs/tags/*"]
	push = group user/Nguyen Huu TUYEN (robocon2011)
	push = +force group user/Nguyen Huu TUYEN (robocon2011)
